@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
div#screen_main {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

div#keypad {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

div#keypad div.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

div.boxButton {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	color: white;
	position: absolute;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	cursor: pointer;
}

div.boxButton:active {
	transform: scale(0.9);
}

div.retro div.boxButton {
  transition: transform 0.4s ease;
}

div.retro div.boxButton:active {
	transform: scale(0.85);
}

div.boxButton div {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	text-align: center;
	font-size: 4vmin;
	position: absolute;
	font-family: "Consolas", "Roboto", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  cursor: pointer; 
}

div.boxButton div img.symbol {
  align-self: center;
	max-height: 55%;
  max-width: 55%;
}

div.retro div.boxButton div {
  padding-top: 0.5px;
  font-size: 3.5vmin;
  font-family: 'Retro';
  font-weight: bold;
}

div.boxLight {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	outline: none;
	text-decoration: none;
	border-image: none;
	pointer-events: none;
}

div.retro div.boxLight {
	transition: opacity 2.5s ease, visibility ease 2.5s;
}


///////

.lockContainer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	//cursor: pointer;
}

.screenContainer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: absolute;
	justify-content:center;
	align-content:center;
	align-items: center; 	
}

div.dial{
	background-image: url("../images/dial.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	pointer-events: none;
}

p#rotationNum{
	position: absolute;
	top: 50%; // Centra verticalmente
	left: 50%; // Centra horizontalmente
	transform: translate(-50%, -50%); // Ajusta el centrado
	margin: 0; // Elimina el margen del <p>
	pointer-events: none; // Permite que los eventos del mouse pasen a través del <p>
	color: black; // Cambia el color del texto
	user-select: none; // Evita que el texto sea seleccionable
	font-style: bold; // Aplica el estilo en negrita
	font-family: "Anton", sans-serif;
	font-size : 4vmin; // Cambia el tamaño de la fuente
}


.data-show-container {
	display: flex; /* Usamos Flexbox */
	position: absolute; /* Posiciona el contenedor de datos */
	align-items: center; /* Alinea verticalmente los elementos */
	gap: 3vmin;
	pointer-events: none; 
  }
  
  .data-show {
	text-align: center; /* Centra el texto dentro de cada columna */
	font-size: 2.8vmin; // Cambia el tamaño de la fuente
	color: rgb(171, 255, 155);
	font-style: bold; // Aplica el estilo en negrita
	font-family: "Press Start 2P", system-ui;
	pointer-events: none; 
  }

  .multi-button{
	color:rgb(135, 109, 86);
	pointer-events:none;
	font-family: "Press Start 2P", system-ui;
	margin-top: 12vmin;
	text-align: bottom;
	font-size:1.5vmin;
  }
